@import url('https://fonts.googleapis.com/css?family=Exo|Gothic+A1|Quicksand|Roboto|Lato');

:root {
  --dockheight:50px;
  --dockhide-time:.45s;
  --defaultborder:rgba(0, 0, 0, .025);
}

html, body {
  margin:0;
  height:100%;
  font-family:"Arial";
}

.definp {
  padding:0;
  font-size:1em;
  margin:0;
  background:transparent;
  border:none;
  border-radius:0;
  outline:0;
}

.rn {
  height:100vh;
  width:100vw;
  position:relative;
}

.rn.rn_nav {
  height:calc(100vh - var(--dockheight));
}

/* media queries */
@media only screen and (max-width: 770px) {
  .rn-home,
  .rn-home-row {
    display:block!important;
  }

  .rn-home-row {
    flex-direction:column!important;
    height:auto!important;
  }

  .rn-home-block {
    height:auto!important;
    flex-shrink:0!important;
  }
}