.rn-training {
    display:flex;
    align-items:stretch;
}

.rn-training-info {
    --padding:20px;
    
    padding:var(--padding);
    height:calc(var(--height) - var(--padding) * 2);
    width:calc(30% - var(--padding) * 2);
    max-width:350px;
    flex-shrink:0;
    background:#17181B;
    justify-content:center;
    align-items:flex-start;
    display:flex;
    flex-direction:column;
}

.rn-training-info-title {
    font-size:2.15em;
    margin:0;
    margin-bottom:15px;
    font-family:"Quicksand";
    font-weight:400;
    color:white;
}

.rn-training-info-desc {
    --margin:5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    font-family:"Quicksand";
    font-weight:200;
    color:rgba(255, 255, 255, .85);
    font-size:1em;
}

.rn-training-info-historybtn {
    --paddinglr:20px;
    --paddingud:10px;

    border-radius:2.5px;
    border:1px solid rgba(255, 255, 255, .5);
    color:rgba(255, 255, 255, .9);
    font-family:"Quicksand";
    cursor:pointer;
    font-weight:400;
    font-size:.95em;
    margin-top:10px;
    padding:var(--paddingud) var(--paddinglr) var(--paddingud) var(--paddinglr);
    transition:.45s;
}

.rn-training-info-historybtn:hover {
    border-color:rgba(255, 255, 255, .75);
}

.rn-training-info-historybtn:active {
    transition:.1s;
    transform:scale(.975);
}

.rn-training-create {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.rn-training-create-title {
    font-size:1.85em;
    font-weight:400;
    font-family:"Quicksand";
}

.rn-training-create-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rn-training-peoplefield {
    --margin:10px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    position:relative;
    width:250px;
    display:flex;
    z-index:7;
    flex-direction:column;
    align-items:center;
    max-width:calc(100% - 15px);
}

.rn-training-peoplefield-countd {
    font-family:"Quicksand";
    font-weight:400;
    font-size:1rem;
    cursor:pointer;
}

.rn-training-peoplefield-search {
    --padding:5px;
    --trans:.15s;
    
    padding:var(--padding);
    border-radius:2.5px;
    border:1px solid var(--defaultborder);
    position:absolute;
    display:flex;
    z-index:5;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
    background:white;
    top:-15px;
    width:100%;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, .25);
    transform:translateY(-100%);
    visibility:hidden;
    opacity:0;
    transition:all var(--trans), visibility var(--trans);
}

.rn-training-peoplefield-search.opened {
    transition:all var(--trans), visibility 0s;
    opacity:1;
    visibility:visible;
}

.rn-training-peoplefield-search > * {
    flex-shrink:0;
}

.rn-training-peoplefield-search:after {
    --size:7.5px;

    content:'';
    position:absolute;
    bottom:calc(var(--size) / 2 * -1);
    left:50%;
    margin-right:50%;
    transform:translateX(-50%) rotate(45deg);
    height:var(--size);
    width:var(--size);
    background:white;
}

.rn-training-peoplefield-search-mat {
    --padding:5px;

    border-radius:3px;
    padding-left:var(--padding);
    padding-right:var(--padding);
    border:1px solid var(--defaultborder);
    font-size:.925rem;
    color:rgba(0, 0, 0, .85);
    font-weight:300;
    height:27.5px;
    font-family:"Quicksand";
}

.rn-training-peoplefield-search-ustit {
    font-size:.9rem;
    color:rgba(0, 0, 0, .35);
    font-weight:400;
    margin-top:10px;
    margin-bottom:2.5px;
    font-family:"Quicksand";
}

.rn-training-peoplefield-search-users {
    display:flex;
    flex-direction:column;
    max-height:200px;
    overflow:scroll;
    cursor:pointer;
}

.rn-training-peoplefield-search-users > * {
    flex-shrink:0;
}

.rn-training-peoplefield-search-users-item {
    display:flex;
    align-items:center;
    height:35px;
    border-bottom:1px solid var(--defaultborder);
    transition:.25s;
}

.rn-training-peoplefield-search-users-item:first-child {
    border-top:1px solid var(--defaultborder);
}

.rn-training-peoplefield-search-users-item:hover {
    background:rgba(0, 0, 0, .01);
}

.rn-training-peoplefield-search-users-item-avatar {
    --size:27.5px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    overflow:hidden;
    position:relative;
    margin-right:7.5px;
    box-shadow:0px 0px 5px -2.5px rgba(0, 0, 0, .15);
}

.rn-training-peoplefield-search-users-item-avatar > img {
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.rn-training-peoplefield-search-users-item-name {
    font-family:"Lato";
    font-weight:400;
    font-size:.95rem;
}

.rn-training-peoplefield_outbg {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:transparent;
    z-index:6;
    visibility:hidden;
}

.rn-training-peoplefield_outbg.active {
    visibility:visible;
}