.rn-foodstats-header {
    height:50%;
    min-height:305px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid var(--defaultborder);
    position:relative;
}

.rn-foodstats-header > * {
    flex-shrink:0;
}

.rn-foodstats-header-icon {
    --size:55px;

    height:var(--size);
    width:var(--size);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .5);
    font-size:2em;
    color:white;
    border-radius:50%;
    background:rebeccapurple;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rn-foodstats-header-name {
    --margin:12.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    font-size:2em;
    font-family:"Quicksand";
    font-weight:400;
}

.rn-foodstats-header-icon > * {
    filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
}

.rn-foodstats-header-progress {
    --borderr:45px;

    height:12.5px;
    width:415px;
    max-width:calc(100% - 50px);
    position:relative;
    border-radius:var(--borderr);
    background:rgba(0, 0, 0, .025);
    box-shadow:0px 0px 10px -5px rgba(0, 0, 0, .15);
}

.rn-foodstats-header-progress-mat {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    border-radius:var(--borderr);
    width:100%;
    background:transparent;
    background:linear-gradient(90deg, yellow, orange);
    transition:.75s;
}

.rn-foodstats-header-progress-particle {
    --size:5px;
    --delay:0s;
    --amdropmenus:1;
    --colorbg:transparent;

    height:var(--size);
    width:var(--size);
    position:absolute;
    z-index:5;
    top:0;
    left:0;
    border-radius:50%;
    background:var(--colorbg);
    filter:drop-shadow(0px 0px 5px var(--colorbg));
    animation:foostats-header-progress-particle-movement-inf-am 1s var(--delay) ease-in-out;
    animation-fill-mode:forwards;
}

.rn-foodstats-header-progress-particle.a { /* l1 */
    left:5px;
    --amdropmenus:-1;
    --colorbg:yellow;
}

.rn-foodstats-header-progress-particle.b { /* l2 */
    left:-5px;
    --delay:.25s;
    --amdropmenus:-1;
    --colorbg:yellow;
}

.rn-foodstats-header-progress-particle.e { /* l3 */
    left:15px;
    --delay:.9s;
    --amdropmenus:-1;
    --colorbg:yellow;
}

.rn-foodstats-header-progress-particle.c { /* r1 */
    left:calc(100% - 2.5px);
    --colorbg:orange;
}

.rn-foodstats-header-progress-particle.d { /* r2 */
    left:calc(100% + 7.5px);
    --delay:.1s;
    --colorbg:orange;
}

.rn-foodstats-header-progress-particle.f { /* r3 */
    left:calc(100% + 15px);
    --delay:.3s;
    --colorbg:orange;
}

@keyframes foostats-header-progress-particle-movement-inf-am {
    0% {
        transform:translate(0, 0);
        opacity:0;
    }
    50% {
        transform:translate(calc(5px * var(--amdropmenus)), -10px);
        opacity:1;
    }
    100% {
        transform:translate(calc(10px * var(--amdropmenus)), 10px);
        opacity:0;
    }
}

.rn-foodstats-header-caloriesleft {
    margin-top:2.5px;
    font-size:.85em;
    color:rgba(0, 0, 0, .5);
    font-family:"Quicksand";
    font-weight:400;
}

.rn-foodstats-header-newmeal {
    --height:35px;

    margin-top:15px;
    border-radius:5px;
    height:var(--height);
    width:175px;
    font-size:.95em;
    border:1px solid rgba(0, 0, 0, .5);
    color:black;
    font-family:"Gothic A1";
    line-height:calc(var(--height) + 1px);
    cursor:pointer;
}

.rn-foodstats-header-explorer {
    --borderr:5px;
    --padding:10px;

    position:absolute;
    bottom:0;
    height:35px;
    width:400px;
    max-width:calc(100vw - var(--padding) * 2 - 15px);
    border:1px solid var(--defaultborder);
    border-bottom-color:transparent;
    border-radius:var(--borderr) var(--borderr) 0 0;
    overflow:hidden;
    display:flex;
    align-items:center;
    padding-left:var(--padding);
    padding-right:var(--padding);
}

.rn-foodstats-header-explorer > div {
    width:100%;
    overflow:scroll;
    display:flex;
    align-items:center;
    position:relative;
    bottom:-1px;
}

.rn-foodstats-header-explorer > div.noscrbar::-webkit-scrollbar,
.rn-foodstats-header-explorer > div.noscrbar::-webkit-scrollbar-track,
.rn-foodstats-header-explorer > div.noscrbar::-webkit-scrollbar-thumb {
    display:none;
    opacity:0;
    visibility:hidden;
}

.rn-foodstats-header-explorer > div > * {
    --margin:20px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    flex-shrink:0;
    font-size:.9em;
    color:rgba(0, 0, 0, .5);
    transition:.25s;
    border-radius:2.5px;
    padding:5px;
    cursor:pointer;
}

.rn-foodstats-header-explorer > div > *:first-child {
    margin-left:0;
}

.rn-foodstats-header-explorer > div > *:last-child {
    margin-right:0;
}

.rn-foodstats-header-explorer > div > *.active {
    color:black;
}

.rn-foodstats-header-explorer > div > *:hover {
    background:rgba(0, 0, 0, .01);
}

.rn-foodstats-meallist {
    height:auto;
    width:100%;
    position:relative;
}

.rn-foodstats-meallist-mat {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rn-foodstats-meallist-item_container {
    height:auto;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.rn-foodstats-meallist-item {
    --padding:17.5px;

    width:calc(100% - 50px - var(--padding) * 2);
    height:calc(100% - var(--padding) * 2);
    padding:var(--padding);
    border-radius:7.5px;
    background:#F7F8FC;
    display:flex;
    position:relative;
    align-items:stretch;
    justify-content:space-between;
}

.rn-foodstats-meallist-item > * {
    --margin:5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    flex-shrink:0;
}

.rn-foodstats-meallist-item-title {
    font-family:"Arial";
    font-weight:600;
    color:rgba(0, 0, 0, .9);
    font-size:1.25em;
}

.rn-foodstats-meallist-item-dishes {
    display:flex;
    max-width:100%;
    flex-wrap:wrap;
    align-items:center;
}

.rn-foodstats-meallist-item-dishes > span {
    padding:5px;
    background:rgba(0, 0, 0, .04);
    color:rgba(0, 0, 0, .85);
    font-family:"Quicksand";
    font-weight:400;
    font-size:.9em;
    border-radius:2.5px;
    margin-right:7.5px;
}

.rn-foodstats-meallist-item-info {
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    color:rgba(0, 0, 0, .4);
    font-size:.95em;
    font-family:"Quicksand";
}

.rn-foodstats-meallist-item-info > * {
    --margin:2.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.rn-foodstats-meallist-item-infomat {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}

.rn-foodstats-meallist-item-infomat > * {
    --margin:2.5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.rn-foodstats-meallist-item-infomat > :first-child {
    margin-left:0;
}

.rn-foodstats-meallist-item-infomat > :last-child {
    margin-right:0;
}

.rn-foodstats-meallist-item-controls {
    flex-shrink:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rn-foodstats-meallist-controls-item {
    font-size:1.5em;
    color:rgba(0, 0, 0, .5);
    cursor:pointer;
    transition:.25s;
}

.rn-foodstats-meallist-controls-item:hover {
    color:rgba(0, 0, 0, .75);
}

.rn-foodstats-recorderbg {
    --trans:.25s;
    
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, .25);
    z-index:399;
    position:fixed;
    top:0;
    left:0;
    transition:all var(--trans), var(--trans);
}

.rn-foodstats-recorder {
    --padding:25px;

    min-height:calc(500px - var(--padding) * 2);
    width:calc(400px - var(--padding) * 2);
    max-height:calc(100% - var(--padding));
    max-width:calc(100% - var(--padding) - 15px);
    overflow:scroll;
    background:white;
    position:fixed;
    top:50%;
    left:50%;
    margin-right:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    transform:translate(-50%, calc(100vh + 100%));
    z-index:400;
    border-radius:3px;
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .25);
    padding:var(--padding);
}

.rn-foodstats-recorderbg,
.rn-foodstats-recorder {
    --trans:.5s;
    
    opacity:0;
    visibility:hidden;
    transition:all var(--trans), visibility var(--trans);
}

.rn-foodstats-recorderbg.active,
.rn-foodstats-recorderbg.active ~ .rn-foodstats-recorder {
    transition:all var(--trans), visibility 0s;
    opacity:1;
    visibility:visible;
}

.rn-foodstats-recorderbg.active ~ .rn-foodstats-recorder {
    transform:translate(-50%, calc(-50% - var(--dockheight) / 2));
}

.rn-foodstats-recorder-close {
    position:absolute;
    top:var(--padding);
    right:var(--padding);
    font-size:1.05em;
    cursor:pointer;
    color:rgba(0, 0, 0, .75);
}

.rn-foodstats-recorder-name {
    font-size:1.5em;
    font-family:"Quicksand";
    font-weight:400;
    text-align:center;
    color:black;
    margin:0;
    margin-top:15px;
}

.rn-foodstats-recorder-insert {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    position:relative;
}

.rn-foodstats-recorder-foodtags {
    --padding:15px;

    padding:var(--padding);
    min-height:calc(30px - var(--padding) * 2);
    width:calc(100% - var(--padding) * 2);
    background:rgba(0, 0, 0, .01);
    border-radius:5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    box-shadow:0px 0px 10px -5px rgba(0, 0, 0, .25);
}

.rn-foodstats-recorder-foodtags-item {
    padding:2.5px;
    border-radius:2.5px;
    display:flex;
    align-items:center;
    background:rgba(0, 0, 0, .025);
    font-size:.9em;
    margin:5px;
    cursor:pointer;
}

.rn-foodstats-recorder-foodtags-item > * {
    --margin:5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.rn-foodstats-recorder-foodtags-item > div {
    display:none;
    /* visibility:hidden; */
}

.rn-foodstats-recorder-foodtags-item:hover > div {
    display:block;
    /* visibility:visible; */
}

.rn-foodstats-recorder-input {
    border-radius:3px;
    padding:10px;
    border:2px solid rgba(0, 0, 0, .1);
    font-family:"Lato";
    margin-top:15px;
    transition:.25s;
    max-width:100%;
}

.rn-foodstats-recorder-input:focus {
    border-color:blue;
}

.rn-foodstats-recorder-caloriesslider {
    --borderr:45px;

    height:20px;
    border-radius:var(--borderr);
    width:210px;
    max-width:100%;
    background:rgba(0, 0, 0, .05);
    margin-top:15px;
    position:relative;
}

.rn-foodstats-recorder-caloriesslider-cursor {
    height:100%;
    width:30px;
    background:rgba(0, 0, 0, .5);
    cursor:pointer;
    position:absolute;
    bottom:0;
    left:0;
    border-radius:var(--borderr);
    overflow:visible;
}

.rn-foodstats-recorder-caloriesslider-cursor-counter {
    --padding:7.5px;
    --height:27.5px;
    --bgcol:#444444;

    padding-left:var(--padding);
    padding-right:var(--padding);
    height:var(--height);
    line-height:var(--height);
    width:auto;
    text-align:center;
    white-space:nowrap;
    display:block;
    position:absolute;
    color:white;
    left:50%;
    font-family:"Quicksand";
    transform:translate(-50%, calc(100% + 5px));
    background:var(--bgcol);
    font-size:.95em;
    border-radius:3px;
}

.rn-foodstats-recorder-caloriesslider-cursor-counter:before {
    --size:7.5px;

    content:'';
    position:absolute;
    top:calc(var(--size) / 2 * -1 - .5px);
    left:calc(50% - var(--size) / 2);
    height:var(--size);
    width:var(--size);
    border-radius:3px;
    transform:rotate(45deg);
    background:var(--bgcol);
}

.rn-foodstats-recorder-submit {
    border-radius:45px;
    height:35px;
    width:150px;
    background:#333333;
    box-shadow:0px 0px 15px -5px rgba(0, 0, 0, .25);
    cursor:pointer;
    font-weight:400;
    font-family:"Quicksand";
    color:white;
    font-size:.95em;
    transition:.15s;
}

.rn-foodstats-recorder-submit:hover {
    transform:scale(1.05);
}

.rn-foodstats-recorder-submit:active {
    transition:.1s;
    transform:scale(.975);
}