.rn-settings {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.rn-settings > * {
    flex-shrink:0;
}

.rn-settings-title {
    font-family:"Quicksand";
    font-weight:400;
    font-size:2.5em;
    background:linear-gradient(gray, black);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.rn-settings-insert {
    margin:7.5px;
    display:flex;
    flex-direction:column;
    width:auto;
    align-items:flex-start;
    width:100%;
}

.rn-settings-insert-title {
    font-family:"Lato";
    font-weight:500;
    font-size:.75em;
    margin-bottom:10px;
    text-transform:uppercase;
}

.rn-settings-txtfield {
    --padding:7.5px;

    height:40px;
    width:175px;
    border-radius:2.5px;
    font-size:.95em;
    border:2px solid rgba(0, 0, 0, .25);
    padding-left:var(--padding);
    padding-right:var(--padding);
}

/* IDEA: Focus blue whale */
.rn-settings-cslider {
    --height:2px;

    height:var(--height);
    border-radius:var(--height);
    background:rgba(0, 0, 0, .1);
    width:100%;
    position:relative;
    transition:.25s;
}

.rn-settings-cslider,
.rn-settings-cslider * {
    outline:0;
}

.rn-settings-cslider:before {
    content:'';
    position:absolute;
    top:0;
    /* left:50%; */
    /* transform:translateX(-50%); */
    left:0;
    width:0%;
    height:100%;
    background:rebeccapurple;
    border-radius:var(--height);
    transition:all .15s ease-in-out;
}

.rn-settings-cslider:focus:before {
    width:100%;
}

.rn-settings-cslider > div {
    --size:15px;
    --col:#2993c4;

    background:var(--col);
    height:var(--size);
    width:var(--size);
    box-shadow:0px 0px 5px -1px rgba(0, 0, 0, .25);
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    position:relative;
    left:-1px;
    z-index:3;
    border-radius:50%;
}

.rn-settings-cslider > div > span {
    --paddinglr:5px;
    --paddingud:2.5px;
    --marginpd:-7.5px;

    padding:var(--paddingud) var(--paddinglr) var(--paddingud) var(--paddinglr);
    left:50%;
    margin-right:50%;
    transform:translate(-50%, 100%);
    bottom:var(--marginpd);
    background:var(--col);
    border-radius:2.5px;
    font-weight:300;
    opacity:0;
    transition:.25s;
    position:absolute;
    font-family:"Quicksand";
    font-size:.8em;
    color:rgba(255, 255, 255, .95);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .25);
}

.rn-settings-cslider:focus span {
    opacity:1;
}

.rn-settings-cslider > div > span:before {
    --size:5px;
    
    content:'';
    position:absolute;
    top:calc(var(--size) / 2 * -1 + 1.5px);
    left:50%;
    margin-right:50%;
    background:var(--col);
    transform:translateX(-50%) rotate(45deg);
    height:var(--size);
    width:var(--size);
}

.rn-settings-activityfield_container {
    align-items:center;
}

.rn-settings-activityfield {
    --vpdd:15px;

    position:relative;
    max-width:calc(100% - var(--vpdd));
}

.rn-settings-activityfield-display {
    width:475px;
    max-width:calc(100% - var(--vpdd));
    height:35px;
    border:2px solid rgba(0, 0, 0, .1);
    font-size:.95em;
    transition:.25s;
}

.rn-settings-activityfield:hover .rn-settings-activityfield-display {
    box-shadow:0px 0px 10px -2.5px rgba(0, 0, 0, .25);
}

.rn-settings-activityfield-display > span {
    --padding:7.5px;
    --height:calc(25px - var(--padding) * 2);;
    
    padding:var(--padding);
    height:var(--height);
    border-radius:2.5px;
    background:rebeccapurple;
    color:white;
    font-size:.925em;
    font-weight:300;
    font-family:"Quicksand";
    line-height:calc(var(--height) + 1.5px);
    position:absolute;
    top:50%;
    white-space:nowrap;
    text-transform:capitalize;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
}

.rn-settings-activityfield-grid {
    --padding:15px;
    --trans:.15s linear;

    position:absolute;
    top:0;
    transform:translateY(-100%);
    left:0;
    padding:var(--padding);
    width:calc(100% - var(--padding) * 2);
    height:calc(300px - var(--padding) * 2);
    box-shadow:0px 0px 10px -2.5px rgba(0, 0, 0, .25);
    background:white;
    z-index:5;
    opacity:0;
    visibility:hidden;
    border-radius:2.5px;
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    align-items:center;
    /* display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between; */
    overflow:scroll;
    transition:all var(--trans), visibility var(--trans);
}

.rn-settings-activityfield:hover .rn-settings-activityfield-grid {
    transition:all var(--trans), visibility 0s;
    opacity:1;
    visibility:visible;
}

.rn-settings-activityfield-grid-item {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rn-settings-activityfield-grid-item-icon {
    --size:45px;
    --hovercol:rebeccapurple;

    height:var(--size);
    width:var(--size);
    border:1px solid rgba(0, 0, 0, .1);
    border-radius:2.5px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.25s;
    cursor:pointer;
}

.rn-settings-activityfield-grid-item:hover .rn-settings-activityfield-grid-item-icon,
.rn-settings-activityfield-grid-item.active .rn-settings-activityfield-grid-item-icon {
    border:1px solid var(--hovercol);
}

.rn-settings-activityfield-grid-item-icon > div {
    color:rgba(0, 0, 0, .5);
    font-size:1.5em;
    position:relative;
    bottom:-1.5px;
}

.rn-settings-activityfield-grid-item:hover .rn-settings-activityfield-grid-item-icon > div,
.rn-settings-activityfield-grid-item.active .rn-settings-activityfield-grid-item-icon > div {
    color:var(--hovercol);
}

.rn-settings-activityfield-grid-item-title {
    margin-top:2.5px;
    color:rgba(0, 0, 0, .9);
    font-weight:400;
    font-size:.9em;
    font-family:"Exo";
    user-select:none;
    flex-shrink:0;
}

.rn-settings-row {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    max-width:100%;
    position:relative;
}

.rn-settings-container {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    flex-direction:column;
    position:relative;
    margin:15px;
}

.rn-settings-submit {
    max-width:calc(100% - 15px);
    width:145px;
    height:37.5px;
    cursor:pointer;
    border-radius:3px;
    background:rebeccapurple;
    color:white;
    font-family:"Quicksand";
    font-weight:400;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.25s;
}

.rn-settings-submit.submitting {
    background:transparent;
}